
#profile_image{
    height:75px;
    width:75px;
    margin:25px;
    position:fixed;
    top:0;
    left:0;
}


#top_buttons{
    position:fixed;
    top:25px;
    width:50%;
    margin-left:25%;

}

.header{
    height:125px;
width:100%;
margin-left:10%;
}

.posts{
    margin:25px;
    margin-top:150px;
}

code{
    background-color:#7FB1B3;
}

article > div{
    display:inline-block;
    padding:25px;
    border:5px gray;
}

#border0{
    border-style:none;
}

#border1{
    border-style:dotted;
}

#border2{
    border-style:dashed;
}

#border3{
    border-style: solid;
}

#border4{
    border-style: double;
}

#border5{
    border-style:groove;
}

#border6{
    border-style:ridge;
}

#border7{
    border-style:inset;
}

#border8{
    border-style: outset;
}

#border9{
    border-style:hidden;
}
}
